@use "../abstract" as *;
@use "../function" as *;
/* - - - - - - - - footer- - - - - - - - -*/

.footer {
  --mt-top: 10rem;
  background: var(--clr-primary-120);
  padding-top: var(--mt-top);

  img {
    display: inline-block;
  }

  &__wrapper {
    margin: 0 var(--s-space-3);

    @include mq("sm") {
      margin: 0 var(--s-space-4);
    }

    @include mq("768px") {
      margin: 0 var(--s-space-7);
    }
  }

  &__title {
    width: 9rem;

    @include mq("md") {
      width: 10rem;
    }
  }

  &__body {
    text-align: left;
    padding: var(--s-space-4) 0;
  }

  &__location {
    display: flex;
    align-items: flex-start;
    @include font-type-scale(
      var(--fs-size-sm),
      null,
      var(--fw-weight-normal),
      null,
      var(--l-leading-normal)
    );

    @include mq("md") {
      font-size: var(--fs-size-lg);
    }

    & img {
      margin-top: calc(var(--s-space-1) / 2);

      @include mq("md") {
        margin-top: var(--s-space-1);
      }
    }
    & > * {
      margin-right: var(--s-space-4);
    }
  }

  &__address {
    font-style: normal;
    padding: var(--s-space-2) 0;
    & > * + * {
      display: flex;
      align-items: center;
      padding: var(--s-space-2) 0;
    }
    & > a span {
      margin-left: var(--s-space-3);

      @include mq("md") {
        font-size: var(--fs-size-md);
      }
    }
  }

  &__secondary-nav,
  &__information {
    margin-top: var(--s-space-3);

    @include mq("md") {
      margin-top: var(--s-space-4);
    }

    li {
      @include font-type-scale(
        var(--fs-size-sm),
        null,
        var(--fw-weight-normal),
        null,
        var(--l-leading-normal)
      );
      padding: var(--s-space-1) 0;

      @include mq("md") {
        font-size: var(--fs-size-lg);
      }
    }
  }
  & .icon {
    fill: var(--clr-neutral-100);
    width: var(--fs-size-xl);
    @include transition(fill);
  }

  &__social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--s-space-10);
    margin-bottom: var(--s-space-4);
    gap: var(--s-space-2);
  }

  &__social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--s-space-5);
    width: var(--s-space-5);
    border: 2px solid;
    border-color: var(--clr-neutral-100);
    border-radius: 50%;
    @include transition(border-color);

    &:hover {
      border-color: var(--clr-accent-110);
      .icon {
        fill: var(--clr-accent-110);
      }
    }
  }
}
