@use "sass:math";
@use '../function' as *;
@use '../abstract' as *;
/* - - - - - - - - Navigation- - - - - - - - -*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {
    width: 6rem;
    display: inline-block;
  }

  &__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
    border: 0;

    &-burger {
      width: var(--s-space-3);
      height: calc(var(--s-space-1) / 2);
      background: #fff;
      border-radius: 5px;
      transition: 0.5s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 5px;
        transition: 0.5s;
        left: 0;
      }

      &::before {
        transform: translateY(calc(var(--s-space-1) * -1));
      }
      &::after {
        transform: translateY(var(--s-space-1));
      }

      &.active {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;

        &::before {
          transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }
  }

  &__nav {
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateY(var(--s-space-4));
      background-color: var(--clr-primary-120);
      border-radius: var(--s-space-1);
      padding: var(--s-space-3);
      box-shadow: 0px 1px 0px rgb(218 206 206 / 80%);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.6s ease;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    &__item {
      padding: var(--s-space-3);
    }
    &__link {
      @include font-type-scale(18, var(--ff-family-raleway), var(--fw-weight-normal));
    }
  }
}
