@use '../function' as *;
@use '../abstract' as *;

.pill-btn {
  display: block;
  background-image: linear-gradient(to right, var(--clr-accent-110), var(--clr-accent-120));
  border-radius: var(--s-space-4);
  padding: var(--s-space-2);
  width: 100%;
  border: 0;
  @include font-type-scale(var(--fs-size-sm), var(--fs-family-raleway), var(--fw-weight-bold));
}
