@use "../abstract" as *;

/* ------------------INTRO SECTION --------------*/

.intro {
  --first-length: 44%;
  --second-length: 48%;

  @include mq("sm") {
    --first-length: 50%;
    --second-length: 58%;
  }

  @include mq("md") {
    --first-length: 60%;
    --second-length: 80%;
  }
  position: relative;
  background-image: linear-gradient(
    180deg,
    var(--clr-primary-90) var(--first-length),
    var(--clr-primary-100) var(--second-length)
  );

  &__wrapper {
    position: relative;
    z-index: 1;
    margin: var(--s-space-3);

    @include mq("sm") {
      margin: var(--s-space-4);
    }

    & img {
      display: inline-block;
    }
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-lg),
      var(--ff-family-raleway),
      var(--fw-weight-bold),
      null,
      var(--l-leading-normal)
    );
    padding: var(--s-space-2) 0;

    @include mq("md") {
      font-size: var(--fs-size-xl);
    }
  }

  &__text {
    @include font-type-scale(var(--fs-size-sm), null, null, null, var(--l-leading-normal));
    padding: var(--s-space-2) 0;

    @include mq("md") {
      font-size: var(--fs-size-lg);
    }
  }

  &__btn {
    padding: var(--s-space-2) var(--s-space-5);

    @include mq("md") {
      padding: var(--s-space-2) 8rem;
    }
  }

  --mt-margin-top: 10rem;

  @include mq("sm") {
    --mt-margin-top: 12rem;
  }

  @include mq("sm") {
    --mt-margin-top: 20rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: var(--mt-margin-top);
    background-image: url("../images/bg-curvy-mobile.svg");
    @include aspect-ratio(375px, 141px);
    @include background-cover();
  }
}
