@use "../abstract" as *;

/* ------------------INTRO SECTION --------------*/

.intro {
  position: relative;
  background-image: linear-gradient(180deg, var(--clr-primary-90) 44%, var(--clr-primary-100) 48%);
  &__wrapper {
    position: relative;
    z-index: 1;
    margin: var(--s-space-4);
    & img {
      display: inline-block;
    }
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-lg),
      var(--ff-family-raleway),
      var(--fw-weight-bold),
      null,
      var(--l-leading-normal)
    );
    padding: var(--s-space-2) 0;
  }

  &__text {
    @include font-type-scale(var(--fs-size-sm), null, null, null, var(--l-leading-normal));
    padding: var(--s-space-2) 0;
  }

  &__btn {
    padding: var(--s-space-2) var(--s-space-5);
  }

  --s-space-10: 10rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: var(--s-space-10);
    background-image: url("../images/bg-curvy-mobile.svg");
    @include aspect-ratio(375px, 141px);
    @include background-cover();
  }
}
