@use "sass:math";
@use "../abstract" as *;
@use "../function" as *;

/*-------------PRODUCTIVE SECTION --------------*/

.productive {
  img {
    display: inline-block;
  }
  &__wrapper {
    margin: var(--s-space-8) var(--s-space-3);

    @include mq("sm") {
      margin: var(--s-space-8) var(--s-space-4);
    }
    @include mq("768px") {
      margin: var(--s-space-8) var(--s-space-7);
    }

    @include mq("lg") {
      @include grid-column(2);
      gap: var(--s-space-5);
    }

    @include mq("2xl") {
      margin-top: to-rem(160px);
      margin-left: to-rem(120px);
      margin-right: to-rem(120px);
    }
  }

  &__right {
    text-align: left;
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-xl),
      var(--ff-family-raleway),
      var(--fw-weight-bold),
      null,
      var(--l-leading-normal)
    );
    text-align: center;
    padding: var(--s-space-2) 0;

    @include mq("md") {
      padding-top: var(--s-space-3);
      font-size: var(--fs-size-2xl);
    }

    @include mq("lg") {
      text-align: left;
    }

    @include mq("2xl") {
      font-size: var(--fs-size-4xl);
      max-width: to-rem(360px);
    }

    @include mq("3xl") {
      font-size: var(--fs-size-5xl);
      max-width: to-rem(400px);
    }
  }

  &__text {
    @include font-type-scale(var(--fs-size-sm), null, null, null, var(--l-leading-normal));
    padding: var(--s-space-2) 0;

    @include mq("md") {
      font-size: var(--fs-size-lg);
    }

    @include mq("2xl") {
      font-size: var(--fs-size-sm);
    }

    @include mq("3xl") {
      font-size: var(--fs-size-md);
    }
  }
  &__btn {
    padding: var(--s-space-1) 0;
    width: max-content;
    cursor: pointer;
    &__link {
      position: relative;
      color: var(--clr-accent-110);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: var(--space-1) 0;

      @include mq("md") {
        font-size: var(--fs-size-sm);
      }
    }
    &__arrow img {
      display: block;
      width: var(--s-space-3);
      margin-left: var(--s-space-1);
      @include transition(filter);
    }

    &__link::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-top: var(--s-space-4);
      width: 100%;
      border-bottom: 2px solid;
      border-color: var(--clr-accent-110);
      @include transition(transform);
    }

    &:hover {
      .productive__btn__link {
        color: var(--clr-neutral-100);
        & img {
          filter: grayscale(100%) brightness(135%);
        }
        &::after {
          border-color: var(--clr-neutral-100);
        }
      }
    }
  }
}
