@use "../abstract" as *;

/**------------SIGN UP--------------------*/
.cta {
  background-image: linear-gradient(180deg, var(--clr-primary-100) 45%, var(--clr-primary-120) 45%);
  &__wrapper {
    margin: 0 var(--s-space-3);
    background: var(--clr-primary-110);
    padding: var(--s-space-3);
    border-radius: var(--s-space-2);

    @include mq("sm") {
      margin: 0 var(--s-space-4);
    }

    @include mq("768px") {
      margin: 0 var(--s-space-7);
    }
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-md),
      var(--ff-family-raleway),
      var(--fw-weight-bold),
      null,
      var(--l-leading-normal)
    );
    @include mq("md") {
      font-size: var(--fs-size-xl);
    }

    @include mq("768px") {
      font-size: var(--fs-size-3xl);
    }
  }

  &__text {
    @include font-type-scale(
      var(--fs-size-xs),
      var(--ff-family-open),
      var(--fw-weight-normal),
      null,
      var(--l-leading-normal)
    );
    padding: var(--s-space-3) 0;
    @include mq("md") {
      font-size: var(--fs-size-lg);
    }

    @include mq("768px") {
      padding: var(--s-space-4) 0;
    }
  }

  &__form {
    &__email {
      border-radius: var(--s-space-4);
      padding: var(--s-space-2);
      border: none;
      width: 100%;

      @include mq("md") {
        text-indent: 2rem;
        max-width: calc(100% - 10rem);
      }
    }

    & .error {
      display: block;
      color: var(--clr-accent-100);

      @include mq("md") {
        font-size: var(--fs-size-md);
      }
    }

    &__btn {
      color: var(--clr-neutral-100);
      margin: var(--s-space-3) 0;

      @include mq("md") {
        display: inline-block;
        max-width: calc(100% - 10rem);
        font-size: var(--fs-size-lg);
      }
      @include mq("768px") {
        font-size: var(--fs-size-xl);
      }
    }
  }
}
