@use "../abstract" as *;
@use "../function" as *;
@use "../components/button" as *;
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

body {
  font-family: var(--ff-family-open);
  font-size: 14px;
  background: var(--clr-primary-110);
  color: var(--clr-neutral-100);
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
}

:focus-visible {
  outline: 4px dashed var(--clr-accent-100);
}

h1,
h2,
h3 {
  font-family: var(--ff-family-raleway);
}

.attribution {
  font-size: to-rem(11px);
  text-align: center;
  @include mq("md") {
    font-size: to-rem(15px);
  }
}

.attribution a {
  color: var(--clr-accent-100);
}
