@use "../function" as *;
//weight
$normal: 400;
$bold: 700;

//size
$xs-3: to-rem(8px);
$xs-2: to-rem(11px);
$xs: to-rem(14px);
$sm: to-rem(16px);
$md: to-rem(18px);
$lg: to-rem(20px);
$xl: to-rem(36px);
$xl-2: to-rem(40px);
$xl-3: to-rem(48px);

//Font family
$Raleway: "'Raleway', sans-serif";
$Open: "'Open Sans', sans-serif";

//baseline
$leading-tight: 1.25;
$leading-normal: 1.5;
$leading-none: 1;
$leading-relaxed: 1.625;

$fonts: (
  "font": (
    property: "family",
    class: "ff",
    "values": (
      "open": $Open,
      "raleway": $Raleway,
    ),
  ),
  "size": (
    property: "size",
    class: "fs",
    "values": (
      "3xs": $xs-3,
      "2xs": $xs-2,
      "xs": $xs,
      "sm": $sm,
      "md": $md,
      "lg": $lg,
      "xl": $xl,
      "2xl": $xl-2,
      "3xl": $xl-3,
    ),
  ),
  "weight": (
    property: "weight",
    class: "fw",
    "values": (
      "normal": $normal,
      "bold": $bold,
    ),
  ),
  "leading": (
    property: "leading",
    class: "l",
    "values": (
      "none": $leading-none,
      "relaxed": $leading-relaxed,
      "normal": $leading-normal,
      "tight": $leading-tight,
    ),
  ),
);
