:root {
  /*=======PRIMARY=======*/
  --clr-primary-90: #202a3c;
  --clr-primary-100: #181f2a;
  --clr-primary-110: #1c2431;
  --clr-primary-120: #0b1523;
  /*=======ACCENT=======*/
  --clr-accent-100: #ff4242;
  --clr-accent-110: #65e2d9;
  --clr-accent-120: #339ecc;
  /*=======NEUTRAL=======*/
  --clr-neutral-100: white;
  /*=======FAMILY=======*/
  --ff-family-open: 'Open Sans', sans-serif;
  --ff-family-raleway: 'Raleway', sans-serif;
  /*=======SIZE=======*/
  --fs-size-3xs: 0.5rem;
  --fs-size-2xs: 0.6875rem;
  --fs-size-xs: 0.875rem;
  --fs-size-sm: 1rem;
  --fs-size-md: 1.125rem;
  --fs-size-lg: 1.25rem;
  --fs-size-xl: 1.5rem;
  --fs-size-2xl: 1.75rem;
  --fs-size-3xl: 2.25rem;
  /*=======WEIGHT=======*/
  --fw-weight-normal: 400;
  --fw-weight-bold: 700;
  /*=======LEADING=======*/
  --l-leading-none: 1;
  --l-leading-relaxed: 1.625;
  --l-leading-normal: 1.5;
  --l-leading-tight: 1.25;
  /*=======SPACE=======*/
  --s-space-0: 0;
  --s-space-1: 0.5rem;
  --s-space-2: 1rem;
  --s-space-3: 1.5rem;
  --s-space-4: 2rem;
  --s-space-5: 2.5rem;
  --s-space-6: 3rem;
  --s-space-7: 3.5rem;
  --s-space-8: 4rem;
  --s-space-9: 4.5rem;
  --s-space-10: 5rem;
}

.pill-btn {
  display: block;
  background-image: linear-gradient(to right, var(--clr-accent-110), var(--clr-accent-120));
  border-radius: var(--s-space-4);
  padding: var(--s-space-2);
  width: 100%;
  border: 0;
  font-size: var(--fs-size-sm);
  font-family: var(--fs-family-raleway);
  font-weight: var(--fw-weight-bold);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-position: center;
  transition: background 0.8s;
}
.pill-btn:hover {
  background: radial-gradient(circle, rgba(4, 227, 243, 0.897) 1%, var(--clr-accent-110) 1%) center/15000%;
}
.pill-btn:active {
  background-size: 100%;
  transition: background 0s;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

body {
  font-family: var(--ff-family-open);
  font-size: 14px;
  background: var(--clr-primary-90);
  color: var(--clr-neutral-100);
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
}

h1,
h2,
h3 {
  font-family: var(--ff-family-raleway);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .attribution {
    font-size: 0.9375rem;
  }
}

.attribution a {
  color: var(--clr-accent-100);
}

/*----------------------Header----------------------*/
/* - - - - - - - - Navigation- - - - - - - - -*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .navbar {
    padding: var(--s-space-4);
  }
}
.navbar__logo {
  width: 6rem;
  display: inline-block;
  z-index: 3;
}
@media only screen and (min-width: 600px) {
  .navbar__logo {
    width: 8rem;
  }
}
.navbar__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  background: transparent;
  border: 0;
  z-index: 3;
  width: var(--s-space-5);
  height: var(--s-space-5);
}
.navbar__menu-burger {
  position: absolute;
  width: var(--s-space-3);
  height: calc(var(--s-space-1) / 2);
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.navbar__menu-burger::before, .navbar__menu-burger::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  left: 0;
}
.navbar__menu-burger::before {
  transform: translateY(calc(var(--s-space-1) * -1));
}
.navbar__menu-burger::after {
  transform: translateY(var(--s-space-1));
}
.navbar__menu-burger.active {
  background: transparent;
  box-shadow: none;
}
.navbar__menu-burger.active::before {
  transform: rotate(45deg);
}
.navbar__menu-burger.active::after {
  transform: rotate(-45deg);
}
@media only screen and (min-width: 600px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-primary-90);
  padding: var(--s-space-3);
  transform: translateX(-100%);
  transition: transform 0.6s ease;
  z-index: 2;
}
.navbar__nav__list.active {
  transform: translateX(0%);
}
@media only screen and (min-width: 600px) {
  .navbar__nav__list {
    position: static;
    transform: unset;
    right: 0;
    flex-direction: row;
    background: none;
    align-items: center;
    height: auto;
    justify-content: flex-end;
    padding: 0;
  }
}
.navbar__nav__item {
  padding: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .navbar__nav__item {
    padding: 0;
    margin-left: var(--s-space-3);
  }
}
.navbar__nav__link {
  font-size: 1.25rem;
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-normal);
}
.navbar__nav__link {
  position: relative;
}
.navbar__nav__link::after {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 2px solid var(--clr-accent-110);
  transform: scale(0);
  transform-origin: 0, 0;
  margin-top: 2rem;
  transition: transform 0.3s ease-in-out;
}
.navbar__nav__link:hover:after {
  transform: scale(1);
}

/* ------------------INTRO SECTION --------------*/
.intro {
  --first-length: 44%;
  --second-length: 48%;
  position: relative;
  background-image: linear-gradient(180deg, var(--clr-primary-90) var(--first-length), var(--clr-primary-100) var(--second-length));
  --mt-margin-top: 10rem;
}
@media only screen and (min-width: 375px) {
  .intro {
    --first-length: 50%;
    --second-length: 58%;
  }
}
@media only screen and (min-width: 600px) {
  .intro {
    --first-length: 60%;
    --second-length: 80%;
  }
}
.intro__wrapper {
  position: relative;
  z-index: 1;
  margin: var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .intro__wrapper {
    margin: var(--s-space-4);
  }
}
.intro__wrapper img {
  display: inline-block;
}
.intro__title {
  font-size: var(--fs-size-lg);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .intro__title {
    font-size: var(--fs-size-xl);
  }
}
.intro__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .intro__text {
    font-size: var(--fs-size-lg);
  }
}
.intro__btn {
  padding: var(--s-space-2) var(--s-space-5);
}
@media only screen and (min-width: 600px) {
  .intro__btn {
    padding: var(--s-space-2) 8rem;
  }
}
@media only screen and (min-width: 375px) {
  .intro {
    --mt-margin-top: 12rem;
  }
}
@media only screen and (min-width: 375px) {
  .intro {
    --mt-margin-top: 20rem;
  }
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: var(--mt-margin-top);
  background-image: url("../images/bg-curvy-mobile.svg");
  padding-top: 37.6%;
  height: 0;
  max-height: 141px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*---------- Features ----------*/
.features img {
  display: inline-block;
}
.features__wrapper {
  margin: var(--s-space-6) var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .features__wrapper {
    margin: var(--s-space-6) var(--s-space-4);
  }
}
.features-card {
  padding: var(--s-space-6) 0;
}
.features-card__img {
  padding-bottom: var(--s-space-2);
}
.features-card__title {
  font-size: var(--fs-size-lg);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .features-card__title {
    font-size: var(--fs-size-xl);
  }
}
.features-card__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-1) 0;
}
@media only screen and (min-width: 600px) {
  .features-card__text {
    font-size: var(--fs-size-lg);
  }
}

/*-------------PRODUCTIVE SECTION --------------*/
.productive {
  text-align: left;
}
.productive img {
  display: inline-block;
}
.productive__wrapper {
  margin: var(--s-space-8) var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .productive__wrapper {
    margin: var(--s-space-8) var(--s-space-4);
  }
}
.productive__title {
  font-size: var(--fs-size-xl);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  text-align: center;
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .productive__title {
    padding-top: var(--s-space-3);
    font-size: var(--fs-size-2xl);
  }
}
.productive__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .productive__text {
    font-size: var(--fs-size-lg);
  }
}
.productive__btn {
  padding: var(--s-space-1) 0;
  width: max-content;
  cursor: pointer;
}
.productive__btn__link {
  position: relative;
  color: var(--clr-accent-110);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) 0;
}
@media only screen and (min-width: 600px) {
  .productive__btn__link {
    font-size: var(--fs-size-sm);
  }
}
.productive__btn__arrow img {
  display: block;
  width: var(--s-space-3);
  margin-left: var(--s-space-1);
  transition: filter 0.3s ease-in-out;
}
.productive__btn__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: var(--s-space-4);
  width: 100%;
  border-bottom: 2px solid;
  border-color: var(--clr-accent-110);
  transition: transform 0.3s ease-in-out;
}
.productive__btn:hover .productive__btn__link {
  color: var(--clr-neutral-100);
}
.productive__btn:hover .productive__btn__link img {
  filter: grayscale(100%) brightness(135%);
}
.productive__btn:hover .productive__btn__link::after {
  border-color: var(--clr-neutral-100);
}

/*--------------------Testimonials Section------------------*/
.testimonials {
  --mt-margin-top: 10rem;
  position: relative;
  margin: var(--mt-margin-top) var(--s-space-4);
}
@media only screen and (min-width: 375px) {
  .testimonials {
    margin: var(--mt-margin-top) var(--s-space-5);
  }
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--fs-size-xl) * -1);
  background: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: var(--s-space-3);
  height: var(--s-space-3);
  width: var(--s-space-3);
}
.testimonials__figure {
  border-radius: var(--s-space-1);
  background-color: var(--clr-primary-90);
  margin: var(--s-space-5) 0;
  text-align: left;
  padding: var(--s-space-3);
}
.testimonials__text {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding-bottom: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .testimonials__text {
    font-size: var(--fs-size-sm);
  }
}
.testimonials__details {
  display: inline-flex;
}
.testimonials img {
  display: inline-block;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
.testimonials figcaption {
  margin-left: var(--s-space-2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonials figcaption cite {
  font-style: normal;
}
.testimonials__author {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-bold);
  letter-spacing: 1px;
}
@media only screen and (min-width: 600px) {
  .testimonials__author {
    font-size: var(--fs-size-sm);
  }
}
.testimonials__company {
  font-size: var(--fs-size-2xs);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-normal);
  letter-spacing: 1px;
}
@media only screen and (min-width: 600px) {
  .testimonials__company {
    font-size: var(--fs-size-xs);
  }
}

/**------------SIGN UP--------------------*/
.cta {
  background-image: linear-gradient(180deg, var(--clr-primary-100) 45%, var(--clr-primary-120) 45%);
}
.cta__wrapper {
  margin: 0 var(--s-space-3);
  background: var(--clr-primary-110);
  padding: var(--s-space-3);
  border-radius: var(--s-space-2);
}
@media only screen and (min-width: 375px) {
  .cta__wrapper {
    margin: 0 var(--s-space-4);
  }
}
.cta__title {
  font-size: var(--fs-size-md);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
}
@media only screen and (min-width: 600px) {
  .cta__title {
    font-size: var(--fs-size-xl);
  }
}
.cta__text {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-3) 0;
}
@media only screen and (min-width: 600px) {
  .cta__text {
    font-size: var(--fs-size-lg);
  }
}
.cta__form__email {
  border-radius: var(--s-space-4);
  padding: var(--s-space-2);
  border: none;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .cta__form__email {
    text-indent: 2rem;
    width: 80%;
  }
}
.cta__form .error {
  display: block;
  color: var(--clr-accent-100);
}
@media only screen and (min-width: 600px) {
  .cta__form .error {
    font-size: var(--fs-size-md);
  }
}
.cta__form__btn {
  color: var(--clr-neutral-100);
  margin: var(--s-space-3) 0;
}
@media only screen and (min-width: 600px) {
  .cta__form__btn {
    display: inline-block;
    width: 80%;
    font-size: var(--fs-size-lg);
  }
}

main {
  background: var(--clr-primary-100);
}

/* - - - - - - - - footer- - - - - - - - -*/
.footer {
  --mt-top: 10rem;
  background: var(--clr-primary-120);
  padding-top: var(--mt-top);
}
.footer img {
  display: inline-block;
}
.footer__wrapper {
  margin: 0 var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .footer__wrapper {
    margin: 0 var(--s-space-4);
  }
}
.footer__title {
  width: 9rem;
}
@media only screen and (min-width: 600px) {
  .footer__title {
    width: 10rem;
  }
}
.footer__body {
  text-align: left;
  padding: var(--s-space-4) 0;
}
.footer__location {
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
}
@media only screen and (min-width: 600px) {
  .footer__location {
    font-size: var(--fs-size-lg);
  }
}
.footer__location img {
  margin-top: calc(var(--s-space-1) / 2);
}
@media only screen and (min-width: 600px) {
  .footer__location img {
    margin-top: var(--s-space-1);
  }
}
.footer__location > * {
  margin-right: var(--s-space-4);
}
.footer__address {
  font-style: normal;
  padding: var(--s-space-2) 0;
}
.footer__address > * + * {
  display: flex;
  align-items: center;
  padding: var(--s-space-2) 0;
}
.footer__address > a span {
  margin-left: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .footer__address > a span {
    font-size: var(--fs-size-md);
  }
}
.footer__secondary-nav, .footer__information {
  margin-top: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .footer__secondary-nav, .footer__information {
    margin-top: var(--s-space-4);
  }
}
.footer__secondary-nav li, .footer__information li {
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-1) 0;
}
@media only screen and (min-width: 600px) {
  .footer__secondary-nav li, .footer__information li {
    font-size: var(--fs-size-lg);
  }
}
.footer .icon {
  fill: var(--clr-neutral-100);
  width: var(--fs-size-xl);
  transition: fill 0.3s ease-in-out;
}
.footer__social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--s-space-10);
  margin-bottom: var(--s-space-4);
  gap: var(--s-space-2);
}
.footer__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--s-space-5);
  width: var(--s-space-5);
  border: 2px solid;
  border-color: var(--clr-neutral-100);
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}
.footer__social__link:hover {
  border-color: var(--clr-accent-110);
}
.footer__social__link:hover .icon {
  fill: var(--clr-accent-110);
}

/*# sourceMappingURL=main.css.map */
