:root {
  /*=======PRIMARY=======*/
  --clr-primary-90: #202a3c;
  --clr-primary-100: #181f2a;
  --clr-primary-110: #1c2431;
  --clr-primary-120: #0b1523;
  /*=======ACCENT=======*/
  --clr-accent-100: #ff4242;
  --clr-accent-110: #65e2d9;
  --clr-accent-120: #339ecc;
  /*=======NEUTRAL=======*/
  --clr-neutral-100: white;
  /*=======FAMILY=======*/
  --ff-family-open: 'Open Sans', sans-serif;
  --ff-family-raleway: 'Raleway', sans-serif;
  /*=======SIZE=======*/
  --fs-size-3xs: 0.5rem;
  --fs-size-2xs: 0.6875rem;
  --fs-size-xs: 0.875rem;
  --fs-size-sm: 1rem;
  --fs-size-md: 1.125rem;
  --fs-size-lg: 1.25rem;
  --fs-size-xl: 1.5rem;
  --fs-size-2xl: 1.75rem;
  --fs-size-3xl: 2.25rem;
  --fs-size-4xl: 2.5rem;
  --fs-size-5xl: 3rem;
  /*=======WEIGHT=======*/
  --fw-weight-normal: 400;
  --fw-weight-bold: 700;
  /*=======LEADING=======*/
  --l-leading-none: 1;
  --l-leading-relaxed: 1.625;
  --l-leading-normal: 1.5;
  --l-leading-tight: 1.25;
  /*=======SPACE=======*/
  --s-space-0: 0;
  --s-space-1: 0.5rem;
  --s-space-2: 1rem;
  --s-space-3: 1.5rem;
  --s-space-4: 2rem;
  --s-space-5: 2.5rem;
  --s-space-6: 3rem;
  --s-space-7: 3.5rem;
  --s-space-8: 4rem;
  --s-space-9: 4.5rem;
  --s-space-10: 5rem;
}

.pill-btn {
  display: block;
  background-image: linear-gradient(to right, var(--clr-accent-110), var(--clr-accent-120));
  border-radius: var(--s-space-4);
  padding: var(--s-space-2);
  width: 100%;
  border: 0;
  font-size: var(--fs-size-sm);
  font-family: var(--fs-family-raleway);
  font-weight: var(--fw-weight-bold);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-position: center;
  transition: background 0.8s;
}
.pill-btn:hover {
  background: radial-gradient(circle, rgba(4, 227, 243, 0.897) 1%, var(--clr-accent-110) 1%) center/15000%;
}
.pill-btn:active {
  background-size: 100%;
  transition: background 0s;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

body {
  font-family: var(--ff-family-open);
  font-size: 14px;
  background: var(--clr-primary-110);
  color: var(--clr-neutral-100);
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
}

:focus-visible {
  outline: 4px dashed var(--clr-accent-100);
}

h1,
h2,
h3 {
  font-family: var(--ff-family-raleway);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .attribution {
    font-size: 0.9375rem;
  }
}

.attribution a {
  color: var(--clr-accent-100);
}

/*----------------------Header----------------------*/
/* - - - - - - - - Navigation- - - - - - - - -*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .navbar {
    padding: var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: var(--s-space-7);
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    padding: var(--s-space-5) var(--s-space-10);
  }
}
.navbar__logo {
  width: 6rem;
  display: inline-block;
  z-index: 3;
}
@media only screen and (min-width: 600px) {
  .navbar__logo {
    width: 8rem;
  }
}
@media only screen and (min-width: 960px) {
  .navbar__logo {
    width: 10rem;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar__logo {
    width: unset;
  }
}
.navbar__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  background: transparent;
  border: 0;
  z-index: 3;
  width: var(--s-space-5);
  height: var(--s-space-5);
}
.navbar__menu-burger {
  position: absolute;
  width: var(--s-space-3);
  height: calc(var(--s-space-1) / 2);
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.navbar__menu-burger::before, .navbar__menu-burger::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  left: 0;
}
.navbar__menu-burger::before {
  transform: translateY(calc(var(--s-space-1) * -1));
}
.navbar__menu-burger::after {
  transform: translateY(var(--s-space-1));
}
.navbar__menu-burger.active {
  background: transparent;
  box-shadow: none;
}
.navbar__menu-burger.active::before {
  transform: rotate(45deg);
}
.navbar__menu-burger.active::after {
  transform: rotate(-45deg);
}
@media only screen and (min-width: 600px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-primary-90);
  padding: var(--s-space-3);
  transform: translateX(-100%);
  transition: visibility 0.6s ease, transform 0.6s ease;
  visibility: hidden;
  z-index: 2;
}
.navbar__nav__list.active {
  visibility: visible;
  transform: translateX(0%);
}
@media only screen and (min-width: 600px) {
  .navbar__nav__list {
    position: static;
    transform: unset;
    visibility: visible;
    right: 0;
    flex-direction: row;
    background: none;
    align-items: center;
    height: auto;
    justify-content: flex-end;
    padding: 0;
    z-index: 0;
  }
}
.navbar__nav__item {
  padding: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .navbar__nav__item {
    padding: 0;
    margin-left: var(--s-space-3);
  }
}
@media only screen and (min-width: 1400px) {
  .navbar__nav__item {
    margin-left: var(--s-space-5);
  }
}
.navbar__nav__link {
  font-size: var(--fs-size-lg);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-normal);
}
.navbar__nav__link {
  position: relative;
}
.navbar__nav__link::after {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 2px solid var(--clr-accent-110);
  transform: scale(0);
  transform-origin: 0, 0;
  margin-top: 2rem;
  transition: transform 0.3s ease-in-out;
}
.navbar__nav__link:hover:after {
  transform: scale(1);
}
@media only screen and (min-width: 1400px) {
  .navbar__nav__link {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1900px) {
  .navbar__nav__link {
    font-size: var(--fs-size-md);
  }
}

/* ------------------INTRO SECTION --------------*/
.intro {
  position: relative;
  --mt-margin-top: 10rem;
}
.intro__wrapper {
  position: relative;
  z-index: 1;
  margin: var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .intro__wrapper {
    margin: var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .intro__wrapper {
    margin: var(--s-space-7);
  }
}
@media only screen and (min-width: 960px) {
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--s-space-9) 11.25rem;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__wrapper {
    margin: var(--s-space-9) 22.5rem;
  }
}
.intro__wrapper img {
  display: inline-block;
}
.intro__title {
  font-size: var(--fs-size-lg);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .intro__title {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 768px) {
  .intro__title {
    font-size: var(--fs-size-3xl);
  }
}
@media only screen and (min-width: 960px) {
  .intro__title {
    max-width: 45rem;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__title {
    font-size: var(--fs-size-4xl);
  }
}
@media only screen and (min-width: 1900px) {
  .intro__title {
    font-size: var(--fs-size-5xl);
  }
}
.intro__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .intro__text {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 1400px) {
  .intro__text {
    max-width: 45rem;
  }
}
.intro__btn {
  display: inline-block;
  padding: var(--s-space-2);
  width: calc(100% - var(--s-space-5));
}
@media only screen and (min-width: 600px) {
  .intro__btn {
    max-width: calc(100% - 16rem);
  }
}
@media only screen and (min-width: 768px) {
  .intro__btn {
    width: calc(100% - 20rem);
  }
  .intro__btn a {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 1400px) {
  .intro__btn {
    max-width: 17.5rem;
  }
  .intro__btn a {
    font-size: var(--fs-size-md);
  }
}
@media only screen and (min-width: 375px) {
  .intro {
    --mt-margin-top: 12rem;
  }
}
@media only screen and (min-width: 600px) {
  .intro {
    --mt-margin-top: 22rem;
  }
}
@media only screen and (min-width: 768px) {
  .intro {
    --mt-margin-top: 26rem;
  }
}
@media only screen and (min-width: 960px) {
  .intro {
    --mt-margin-top: 27rem;
  }
}
@media only screen and (min-width: 1024px) {
  .intro {
    --mt-margin-top: 35rem;
  }
}
@media only screen and (min-width: 1400px) {
  .intro {
    --mt-margin-top: 39rem;
  }
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: var(--mt-margin-top);
  background: var(--clr-primary-110) url("../images/bg-curvy-mobile.svg");
  padding-top: 37.6%;
  height: 0;
  max-height: 141px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 600px) {
  .intro::after {
    background-image: url("../images/bg-curvy-desktop.svg");
    padding-top: 31.1805555556%;
    height: 0;
    max-height: 449px;
  }
}

/*---------- Features ----------*/
.features {
  position: relative;
}
.features img {
  display: inline-block;
}
.features__wrapper {
  margin: var(--s-space-6) var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .features__wrapper {
    margin: var(--s-space-6) var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .features__wrapper {
    margin: var(--s-space-7);
  }
}
@media only screen and (min-width: 960px) {
  .features__wrapper {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: var(--s-space-5);
  }
}
@media only screen and (min-width: 1400px) {
  .features__wrapper {
    column-gap: 7.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .features__wrapper {
    margin-left: clamp(17.5rem, 15vw, 30rem);
    margin-right: clamp(17.5rem, 15vw, 30rem);
  }
}
.features-card {
  padding: var(--s-space-6) 0;
}
@media only screen and (min-width: 960px) {
  .features-card {
    display: grid;
    align-self: baseline;
  }
}
@media only screen and (min-width: 1400px) {
  .features-card {
    padding-top: var(--s-space-2);
  }
}
.features-card__img {
  padding-bottom: var(--s-space-2);
}
.features-card__title {
  font-size: var(--fs-size-lg);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .features-card__title {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 768px) {
  .features-card__title {
    font-size: var(--fs-size-2xl);
  }
}
@media only screen and (min-width: 960px) {
  .features-card__title {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 1400px) {
  .features-card__title {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 1400px) {
  .features-card__title {
    font-size: var(--fs-size-xl);
  }
}
.features-card__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-1) 0;
}
@media only screen and (min-width: 600px) {
  .features-card__text {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 960px) {
  .features-card__text {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .features-card__text {
    font-size: var(--fs-size-xs);
  }
}
@media only screen and (min-width: 1900px) {
  .features-card__text {
    font-size: var(--fs-size-sm);
  }
}

/*-------------PRODUCTIVE SECTION --------------*/
.productive img {
  display: inline-block;
}
.productive__wrapper {
  margin: var(--s-space-8) var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .productive__wrapper {
    margin: var(--s-space-8) var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .productive__wrapper {
    margin: var(--s-space-8) var(--s-space-7);
  }
}
@media only screen and (min-width: 960px) {
  .productive__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: var(--s-space-5);
  }
}
@media only screen and (min-width: 1400px) {
  .productive__wrapper {
    margin-top: 10rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
}
.productive__right {
  text-align: left;
}
.productive__title {
  font-size: var(--fs-size-xl);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
  text-align: center;
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .productive__title {
    padding-top: var(--s-space-3);
    font-size: var(--fs-size-2xl);
  }
}
@media only screen and (min-width: 960px) {
  .productive__title {
    text-align: left;
  }
}
@media only screen and (min-width: 1400px) {
  .productive__title {
    font-size: var(--fs-size-4xl);
    max-width: 22.5rem;
  }
}
@media only screen and (min-width: 1900px) {
  .productive__title {
    font-size: var(--fs-size-5xl);
    max-width: 25rem;
  }
}
.productive__text {
  font-size: var(--fs-size-sm);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 600px) {
  .productive__text {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 1400px) {
  .productive__text {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1900px) {
  .productive__text {
    font-size: var(--fs-size-md);
  }
}
.productive__btn {
  padding: var(--s-space-1) 0;
  width: max-content;
  cursor: pointer;
}
.productive__btn__link {
  position: relative;
  color: var(--clr-accent-110);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) 0;
}
@media only screen and (min-width: 600px) {
  .productive__btn__link {
    font-size: var(--fs-size-sm);
  }
}
.productive__btn__arrow img {
  display: block;
  width: var(--s-space-3);
  margin-left: var(--s-space-1);
  transition: filter 0.3s ease-in-out;
}
.productive__btn__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: var(--s-space-4);
  width: 100%;
  border-bottom: 2px solid;
  border-color: var(--clr-accent-110);
  transition: transform 0.3s ease-in-out;
}
.productive__btn:hover .productive__btn__link {
  color: var(--clr-neutral-100);
}
.productive__btn:hover .productive__btn__link img {
  filter: grayscale(100%) brightness(135%);
}
.productive__btn:hover .productive__btn__link::after {
  border-color: var(--clr-neutral-100);
}

/*--------------------Testimonials Section------------------*/
.testimonials {
  --mt-margin-top: 10rem;
  position: relative;
  margin: var(--mt-margin-top) var(--s-space-4);
}
@media only screen and (min-width: 375px) {
  .testimonials {
    margin: var(--mt-margin-top) var(--s-space-7);
  }
}
@media only screen and (min-width: 768px) {
  .testimonials {
    margin: var(--mt-margin-top) var(--s-space-10);
  }
}
@media only screen and (min-width: 1400px) {
  .testimonials {
    margin-top: 7.5rem;
    margin-left: 7.5rem;
    margin-top: 7.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .testimonials__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: var(--s-space-5);
  }
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--fs-size-xl) * -1);
  background: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: var(--s-space-3);
  height: var(--s-space-3);
  width: var(--s-space-3);
}
@media only screen and (min-width: 960px) {
  .testimonials::before {
    margin-top: var(--fs-size-md);
    background-size: var(--s-space-6);
    height: var(--s-space-6);
    width: var(--s-space-6);
    margin-left: calc(var(--s-space-1) * -1);
  }
}
.testimonials__figure {
  border-radius: var(--s-space-1);
  background-color: var(--clr-primary-90);
  margin: var(--s-space-5) 0;
  text-align: left;
  padding: var(--s-space-3);
  filter: drop-shadow(2px 5px 4px black);
  display: inline-flex;
  flex-wrap: wrap;
}
.testimonials__text {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding-bottom: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .testimonials__text {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .testimonials__text {
    font-size: var(--fs-size-xs);
  }
}
@media only screen and (min-width: 1900px) {
  .testimonials__text {
    font-size: var(--fs-size-sm);
  }
}
.testimonials img {
  margin-right: var(--s-space-1);
  display: inline-block;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
@media only screen and (min-width: 1900px) {
  .testimonials img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.testimonials figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonials figcaption cite {
  font-style: normal;
}
.testimonials__author {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-bold);
  letter-spacing: 1px;
}
@media only screen and (min-width: 600px) {
  .testimonials__author {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .testimonials__author {
    font-size: var(--fs-size-2xs);
  }
}
@media only screen and (min-width: 1900px) {
  .testimonials__author {
    font-size: var(--fs-size-sm);
  }
}
.testimonials__company {
  font-size: var(--fs-size-2xs);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-normal);
  letter-spacing: 1px;
}
@media only screen and (min-width: 600px) {
  .testimonials__company {
    font-size: var(--fs-size-xs);
  }
}
@media only screen and (min-width: 1400px) {
  .testimonials__company {
    font-size: var(--fs-size-3xs);
  }
}
@media only screen and (min-width: 1900px) {
  .testimonials__company {
    font-size: var(--fs-size-xs);
  }
}

/**------------SIGN UP--------------------*/
.cta {
  background-image: linear-gradient(180deg, var(--clr-primary-100) 45%, var(--clr-primary-120) 45%);
}
.cta ::placeholder {
  opacity: 0.5;
}
.cta__wrapper {
  margin: 0 var(--s-space-3);
  background: var(--clr-primary-110);
  padding: var(--s-space-3);
  border-radius: var(--s-space-2);
  filter: drop-shadow(2px 5px 4px black);
}
@media only screen and (min-width: 375px) {
  .cta__wrapper {
    margin: 0 var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .cta__wrapper {
    margin: 0 var(--s-space-7);
  }
}
@media only screen and (min-width: 960px) {
  .cta__wrapper {
    margin: 0 11.25rem;
  }
}
@media only screen and (min-width: 1400px) {
  .cta__wrapper {
    margin-top: 7.5rem;
    margin-left: clamp(17.5rem, 25vw, 30rem);
    margin-right: clamp(17.5rem, 25vw, 30rem);
  }
}
.cta__title {
  font-size: var(--fs-size-md);
  font-family: var(--ff-family-raleway);
  font-weight: var(--fw-weight-bold);
  line-height: var(--l-leading-normal);
}
@media only screen and (min-width: 600px) {
  .cta__title {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 768px) {
  .cta__title {
    font-size: var(--fs-size-3xl);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .cta__title {
    font-size: var(--fs-size-3xl);
  }
}
.cta__text {
  font-size: var(--fs-size-xs);
  font-family: var(--ff-family-open);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-3) 0;
}
@media only screen and (min-width: 600px) {
  .cta__text {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 768px) {
  .cta__text {
    padding: var(--s-space-4) 0;
  }
}
@media only screen and (min-width: 960px) {
  .cta__text {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__text {
    margin: var(--s-space-0) 7.5rem;
    font-size: var(--fs-size-xs);
  }
}
@media only screen and (min-width: 1900px) {
  .cta__text {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__form {
    display: grid;
    grid-template-columns: var(--s-space-5) repeat(3, 1fr) var(--s-space-4);
    justify-content: space-between;
    align-items: center;
    column-gap: var(--s-space-5);
    position: relative;
  }
}
.cta__form__email {
  border-radius: var(--s-space-4);
  padding: var(--s-space-2);
  border: none;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .cta__form__email {
    text-indent: 2rem;
    max-width: calc(100% - 10rem);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__form__email {
    max-width: 100%;
    display: grid;
    grid-column: 2/span 2;
  }
}
.cta__form .error {
  display: block;
  color: var(--clr-accent-100);
}
@media only screen and (min-width: 600px) {
  .cta__form .error {
    font-size: var(--fs-size-md);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__form .error {
    font-size: var(--fs-size-md);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10rem;
  }
}
.cta__form__btn {
  color: var(--clr-neutral-100);
  margin: var(--s-space-3) 0;
}
@media only screen and (min-width: 600px) {
  .cta__form__btn {
    display: inline-block;
    max-width: calc(100% - 10rem);
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 768px) {
  .cta__form__btn {
    font-size: var(--fs-size-xl);
  }
}
@media only screen and (min-width: 960px) {
  .cta__form__btn {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__form__btn {
    display: grid;
    grid-column: 4/span 1;
    display: grid;
    grid-row: 1/span 1;
    max-width: 100%;
    font-size: var(--fs-size-xs);
  }
}
@media only screen and (min-width: 1400px) {
  .cta__form__btn {
    font-size: var(--fs-size-sm);
  }
}

main {
  --clr-first-length: 160px;
  --clr-second-length: 0.5px;
  background: linear-gradient(to bottom, transparent var(--clr-first-length), var(--clr-primary-100) var(--clr-second-length));
}
@media only screen and (min-width: 375px) {
  main {
    --clr-first-length: 200px;
  }
}
@media only screen and (min-width: 600px) {
  main {
    --clr-first-length: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    --clr-first-length: 25%;
  }
}

/* - - - - - - - - footer- - - - - - - - -*/
.footer {
  background: var(--clr-primary-120);
  padding-top: var(--s-space-10);
}
.footer img {
  display: inline-block;
}
.footer__wrapper {
  margin: 0 var(--s-space-3);
}
@media only screen and (min-width: 375px) {
  .footer__wrapper {
    margin: 0 var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .footer__wrapper {
    margin: 0 var(--s-space-7);
  }
}
@media only screen and (min-width: 1400px) {
  .footer__wrapper {
    margin-top: var(--s-space-5);
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
}
.footer__title {
  width: 9rem;
}
@media only screen and (min-width: 600px) {
  .footer__title {
    width: 10rem;
  }
}
.footer__body {
  text-align: left;
  padding: var(--s-space-4) 0;
}
@media only screen and (min-width: 960px) {
  .footer__body {
    padding: var(--s-space-4) 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    align-items: baseline;
    gap: 1rem;
  }
  .footer__body > * {
    justify-self: end;
  }
}
@media only screen and (min-width: 960px) and (min-width: 1400px) {
  .footer__body {
    grid-template-columns: 22.5rem repeat(4, minmax(max-content, 1fr));
  }
}
@media only screen and (min-width: 1400px) {
  .footer__body {
    padding-top: var(--s-space-5);
    padding-bottom: var(--s-space-10);
  }
}
.footer__location {
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
}
@media only screen and (min-width: 600px) {
  .footer__location {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 960px) {
  .footer__location {
    font-size: var(--fs-size-sm);
    grid-column: 1/span 2;
  }
}
@media only screen and (min-width: 1400px) {
  .footer__location {
    grid-column: 1/span 1;
  }
}
.footer__location img {
  margin-top: calc(var(--s-space-1) / 2);
}
@media only screen and (min-width: 600px) {
  .footer__location img {
    margin-top: var(--s-space-1);
  }
}
.footer__location > * {
  margin-right: var(--s-space-4);
}
.footer__address {
  font-style: normal;
  padding: var(--s-space-2) 0;
}
@media only screen and (min-width: 960px) {
  .footer__address {
    padding-top: var(--s-space-0);
  }
}
.footer__address > * + * {
  display: flex;
  align-items: center;
  padding: var(--s-space-2) 0;
}
.footer__address > a span {
  margin-left: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .footer__address > a span {
    font-size: var(--fs-size-md);
  }
}
@media only screen and (min-width: 960px) {
  .footer__address > a span {
    font-size: var(--fs-size-sm);
  }
}
@media only screen and (min-width: 1400px) {
  .footer__address > a span {
    font-size: var(--fs-size-xs);
  }
}
.footer .footer__information, .footer .footer__secondary-nav {
  margin-top: var(--s-space-3);
}
@media only screen and (min-width: 600px) {
  .footer .footer__information, .footer .footer__secondary-nav {
    margin-top: var(--s-space-4);
  }
}
@media only screen and (min-width: 960px) {
  .footer .footer__information, .footer .footer__secondary-nav {
    margin-top: var(--s-space-0);
  }
}
.footer .footer__information li, .footer .footer__secondary-nav li {
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-normal);
  line-height: var(--l-leading-normal);
  padding: var(--s-space-1) 0;
}
@media only screen and (min-width: 600px) {
  .footer .footer__information li, .footer .footer__secondary-nav li {
    font-size: var(--fs-size-lg);
  }
}
@media only screen and (min-width: 960px) {
  .footer .footer__information li, .footer .footer__secondary-nav li {
    font-size: var(--fs-size-sm);
    padding-top: var(--s-space-0);
  }
}
.footer__secondary-nav {
  display: grid;
  grid-row: 1/span 1;
  display: grid;
  grid-column: 4/span 1;
}
@media only screen and (min-width: 1400px) {
  .footer__secondary-nav {
    display: grid;
    grid-column: 3/span 1;
  }
}
.footer__information {
  display: grid;
  grid-row: 1/span 1;
  display: grid;
  grid-column: 5/span 1;
}
@media only screen and (min-width: 1400px) {
  .footer__information {
    display: grid;
    grid-row: 1/span 1;
    display: grid;
    grid-column: 4/span 1;
  }
}
.footer .icon {
  fill: var(--clr-neutral-100);
  width: var(--fs-size-xl);
  transition: fill 0.3s ease-in-out;
}
.footer__social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--s-space-10);
  margin-bottom: var(--s-space-4);
  margin-right: var(--s-space-2);
}
@media only screen and (min-width: 960px) {
  .footer__social__list {
    margin-top: var(--s-space-0);
    display: grid;
    grid-row: 2/span 1;
    display: grid;
    grid-column: 1/span 3;
    grid-auto-flow: column;
  }
}
@media only screen and (min-width: 1400px) {
  .footer__social__list {
    display: grid;
    grid-row: 1/span 1;
    display: grid;
    grid-column: 5/span 1;
    align-self: flex-start;
  }
}
.footer__social__item:not(:last-child) {
  margin-right: 1rem;
}
.footer__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--s-space-5);
  width: var(--s-space-5);
  border: 2px solid;
  border-color: var(--clr-neutral-100);
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}
.footer__social__link:hover {
  border-color: var(--clr-accent-110);
}
.footer__social__link:hover .icon {
  fill: var(--clr-accent-110);
}

/*# sourceMappingURL=main.css.map */
